<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main class="container profile-container">
      <h1 class="page-title">Edit Your Profile</h1>

      <div class="profile-card">
        <% if (formSubmitted) { %>
        <p>
          If the email that you have given us is correct, we have sent email to
          reset password to your email.
        </p>
        <% } else { %>
        <form action="/auth/reset-password" method="POST" class="form">
          <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-input"
              required
            />
            <% if (errors.length > 0) { %> <% errors.forEach(function(error) {
            %>
            <p class="error-message"><%= error %></p>
            <% }); %> <% } %>
          </div>

          <div class="form-group">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
        <% } %>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
